APP_ENV=development

DB_HOST=host.docker.internal
DB_PORT=3306
DB_NAME=game
DB_USERNAME=root
DB_PASSWORD=root

WP_USER_API_URL=http://api.game-4u.net/mock/user
JWT_SECRET_KEY=ChangeMePlease!
ALLOWED_ORIGINS=http://localhost:8080
JWT_EXPIRED_IN=15

API_AUTH_USER=apiuser
API_AUTH_PASSWD=apipasswd