SetEnvIf User-Agent .*Lighthouse* require_auth=true
AuthUserFile "/home/lottexylitolcom/.htpasswds/public_html/staging.lottexylitol.com.vn/passwd"
AuthType Basic
AuthName "Password Protected"
Require valid-user
Satisfy any
Deny from all
Allow from env=require_auth

<IfModule mod_rewrite.c>
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteEngine On

RewriteBase /
#RewriteCond %{HTTP_HOST} ^www.lottexylitol.com.vn [NC]
#RewriteRule ^(.*)$ https://lottexylitol.com.vn/$1 [L,R=301]
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]
</IfModule>

RedirectMatch 301 ^/vn/trang-chu.html /
RedirectMatch 301 ^/vn/tim-hieu-ve-xylitol.html /what-is-xylitol/
RedirectMatch 301 ^/vn/san-pham.html /what-is-xylitol/
RedirectMatch 301 ^/vn/xylitol-cool.html /product/
RedirectMatch 301 ^/vn/xylitol.html /product/
RedirectMatch 301 ^/vn/quang-cao.html /movie/
RedirectMatch 301 ^/vn/kien-thuc.html /why-xylitol/

RedirectMatch 301 ^/en/home.html /en/
RedirectMatch 301 ^/en/what-is-xylitol.html /en/what-is-xylitol/
RedirectMatch 301 ^/en/product.html /en/product/
RedirectMatch 301 ^/en/xylitol-cool.html /en/product/
RedirectMatch 301 ^/en/xylitol.html /en/product/
RedirectMatch 301 ^/en/advertising.html /en/movie/
RedirectMatch 301 ^/en/education.html /en/why-xylitol/

# Redirect old campaign
RedirectMatch 301 ^/thuthachvotucuoi/ /
RedirectMatch 301 ^/en/thuthachvotucuoi/ /en/
RedirectMatch 301 ^/phienbanchibi/ /

# Redirect old membership-activities
RedirectMatch 301 ^/membership-activities/ /
RedirectMatch 301 ^/en/membership-activities/ /en/
RedirectMatch 301 ^/about-photo-contest/ /
RedirectMatch 301 ^/en/about-photo-contest/ /en/
RedirectMatch 301 ^/about-brand-ambassador/ /
RedirectMatch 301 ^/en/about-brand-ambassador/ /en/
RedirectMatch 301 ^/about-game/ /
RedirectMatch 301 ^/en/about-game/ /en/
RedirectMatch 301 ^/activity-page/ /
RedirectMatch 301 ^/en/activity-page/ /en/
RedirectMatch 301 ^/photo-contest/ /
RedirectMatch 301 ^/en/photo-contest/ /en/
RedirectMatch 301 ^/game/ /
RedirectMatch 301 ^/en/game/ /en/
RedirectMatch 301 ^/survey/ /
RedirectMatch 301 ^/en/survey/ /en/
RedirectMatch 301 ^/brand-ambassador/ /
RedirectMatch 301 ^/en/brand-ambassador/ /en/


# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php8_module>
   php_flag display_errors Off
   php_value max_execution_time 300
   php_value max_input_time 300
   php_value max_input_vars 10000
   php_value memory_limit 1024M
   php_value post_max_size 1024M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php82"
   php_value upload_max_filesize 1024M
   php_flag zlib.output_compression On
</IfModule>
<IfModule lsapi_module>
   php_flag display_errors Off
   php_value max_execution_time 300
   php_value max_input_time 300
   php_value max_input_vars 10000
   php_value memory_limit 1024M
   php_value post_max_size 1024M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/var/cpanel/php/sessions/ea-php82"
   php_value upload_max_filesize 1024M
   php_flag zlib.output_compression On
</IfModule>
# END cPanel-generated php ini directives, do not edit

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php82” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
